[Unit]
Description={PRODUCT_NAME}
Documentation=https://github.com/markondej/mqtt_service
After=network.target

[Service]
ExecStart=/usr/local/bin/{EXECUTABLE}

[Install]
WantedBy=multi-user.target
Alias=mqtt_service.service
